.order-image {
  display: flex;
  justify-content: center;
  margin: 15px 0;
}

#order-img {
  width: 70%;
}

.btn-area {
  display: flex;
  justify-content: space-evenly;
}

.radio-icon {
  width: 70%;
  height: 70%;
}

.meat-group {
  display: flex;
  justify-content: center;
}

.meat-title {
  font-size: 16px;
}

form {
  padding-bottom: 5%;
}
