<ion-header>
  <ion-toolbar>
    <ion-title> <ion-icon name="arrow-back" style="zoom:1.5;" routerLink="/home"></ion-icon> Профиль</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

    <ion-spinner color="tertiary" name="lines" *ngIf="!isLoaded"></ion-spinner>
    <div class="person-info" *ngIf="isLoaded">
        <form #formCtrl="ngForm" (ngSubmit)="changeUserData(formCtrl)">
            <div class="circ" *ngIf="!imgIsLoaded">
                <img src="../../../assets/28959e4de450ba38b84fd11c5b058570.gif">
            </div>
            <div align="center" *ngIf="imgIsLoaded">
                <input type="file" #fileBtn class="filebtn" (change)="uploadPic($event)" />
                    <ion-avatar>
                        <img src="https://ucarecdn.com/{{ person.avatar }}/-/scale_crop/150x150/center/" (click)="presentActionSheet()">
                    </ion-avatar>

                <h4>{{person.name}}</h4>
            </div>
            <ion-list >
                <ion-item>
                    <ion-label floating>День рождения:</ion-label>
                    <ion-datetime displayFormat="DD.MM.YY" [(ngModel)]="person.birthday" name="birthday" required></ion-datetime>
                </ion-item>

                <ion-item>
                    <ion-label floating>Телефон: </ion-label>
<!--                    {{person.phone}}-->
                    <ion-input type="text" [(ngModel)]="person.phone" name="phone" required></ion-input>
                </ion-item>

                <ion-item>
                    <ion-label floating>Почта: </ion-label>
                    <p>{{person.email}}</p>
<!--                    <ion-input type="text" [(ngModel)]="person.email" name="email" required></ion-input>-->
                </ion-item>

                <ion-item>
                    <ion-label floating>Биография:</ion-label>
                    <ion-textarea type="text" [(ngModel)]="person.bio" name="bio" required></ion-textarea>
                </ion-item>
            </ion-list>
            <div class="change-btn">
                <ion-button type="submit" color="light">Изменить</ion-button>
            </div>
        </form>
    </div>
</ion-content>
