<ion-header>
  <ion-toolbar>
    <ion-title> <ion-icon name="arrow-back" style="zoom:1.5;" routerLink="/home"></ion-icon> Профиль</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

    <ion-spinner color="tertiary" name="lines" *ngIf="!isLoaded"></ion-spinner>
    <div class="person-info" *ngIf="isLoaded">
        <form #formCtrl="ngForm">
            <div align="center" >
                <input type="file" #fileBtn class="filebtn" (change)="uploadPic($event)" />
                    <ion-avatar>
<!--                        <img src="{{person.avatar}}" (click)="changeAvatar()">-->
<!--                        <img src="https://ucarecdn.com/{{ person.avatar }}/-/scale_crop/150x150/center/" (click)="changeAvatar()">-->
                        <img src="https://ucarecdn.com/{{ person.avatar }}/-/scale_crop/150x150/center/" (click)="presentActionSheet()">
                    </ion-avatar>

                <h4>{{person.name}}</h4>
<!--                <h5>{{age}} лет</h5>-->
            </div>
            <ion-list >
                <ion-item>
                    <ion-label floating>День рождения:</ion-label>
                    <ion-datetime displayFormat="DD.MM.YY" [(ngModel)]="person.birthday" [ngModelOptions]="{standalone: true}" required></ion-datetime>
                </ion-item>

                <ion-item>
                    <ion-label floating>Телефон: </ion-label>
<!--                    {{person.phone}}-->
                    <ion-input type="text" [(ngModel)]="person.tele" name="tele" required></ion-input>
                </ion-item>

                <ion-item>
                    <ion-label floating>Почта: </ion-label>
                    {{person.email}}
<!--                    <ion-input type="text" [(ngModel)]="person.email" name="email" required></ion-input>-->
                </ion-item>

                <ion-item>
                    <ion-label floating>Биография:</ion-label>
                    <ion-textarea type="text" [(ngModel)]="person.bio" name="name" required></ion-textarea>
                </ion-item>
            </ion-list>
            <ion-button (click)="changeUserData()">Изменить</ion-button>
        </form>
    </div>

    <div>
        <ion-grid>
            <ion-row>
                <ion-col size="6" *ngFor="let photo of photos">
                    <img [src]="photo.data">
                </ion-col>
            </ion-row>
        </ion-grid>
    </div>

</ion-content>
