ion-icon {
  float: left;
}

.img-avatar {
  height: 100px;
  padding: 0 0 !important;
  border-radius: 50% !important;
  outline: none;
}

.filebtn {
  opacity: 0;
  position: absolute;
  top: -100em;
  left: -100em;
}



ion-avatar {
  width:100% !important;
  height : 100% !important;
  max-width: 100px !important;  //any size
  max-height: 100px !important; //any size
}

.person-info {
  margin-top: 5%;
}

ion-textarea {
  height: auto;
}

.change-btn {
  display: flex;
  justify-content: flex-end;
  padding-right: 20px;
}

ion-button:host(.button-solid) {
  background: white !important;
}
