<ion-header>
  <ion-toolbar>
    <ion-title *ngIf="userRole === 'user'">История заказов</ion-title>
    <ion-title *ngIf="userRole === 'Admin'">Заказы</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content *ngIf="userRole === 'user'">
  <ion-card *ngFor="let data of history" [ngClass]="getClasses(data.status)">
    <ion-item>
        <ion-icon name="pizza" slot="start"></ion-icon>
        <ion-card-title>{{data.order}}, {{data.date | date: 'dd.MM.yyyy'}}</ion-card-title>
    </ion-item>

    <ion-card-content>
    Описание начинки: {{data?.filling}} {{data?.mushrooms}} {{data?.cheese}}
      <p>Размер: {{data?.size}}</p>
      <p>Примечания: {{data?.note}}</p>
      <p>Количество: {{data.quantity}}</p>
    </ion-card-content>
  </ion-card>
</ion-content>

<ion-content *ngIf="userRole === 'Admin'">
  <ion-card *ngFor="let data of mockedAdmin; let i = index">
    <ion-item class="admin-style">
        <ion-icon name="restaurant" slot="start"></ion-icon>
        <ion-card-title>{{data.name}}</ion-card-title>
    </ion-item>
    <div class="btn-block">
      <ion-button (click)="takeOrder(data.id)" [disabled]="data.status" color="success">Принять</ion-button>
      <ion-button (click)="deleteOrder(i)" [disabled]="data.status" color="warning">Отклонить</ion-button>
    </div>

    <ion-card-content>
      <ion-card-title>{{data.order}}, {{data.cafe}}</ion-card-title>
      Описание начинки: {{data?.filling}} {{data?.mushrooms}} {{data?.cheese}}
      <p>Размер: {{data?.size}}</p>
      <p>Примечания: {{data?.note}}</p>
      <p>Количество: {{data.quantity}}</p>
    </ion-card-content>
  </ion-card>
</ion-content>
