.reset-form {
  display: flex;
  justify-content: center;
  height: 100%;
  align-items: center;
}

h2 {
  margin-top: -90px;
  display: flex;
  justify-content: center;
}

.send-btn {
  height: 23px;
  background: #7941bf;
  padding: 0 2%;
}

.main-content {
  width: 80%;
}
