<ion-app>
  <ion-split-pane>
    <ion-menu type="overlay">
      <ion-header>
        <ion-toolbar>
          <div class="info">

            <div id="avatar">
              <ion-avatar slot="start" >
                <img src="{{first ? first : secondImg}}">
              </ion-avatar>
            </div>

            <ion-label id="name">Лилия</ion-label>
            <ion-label id="email">some@email.com</ion-label>
          </div>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-list>
          <ion-menu-toggle auto-hide="false">
            <ion-item [routerDirection]="'root'" [routerLink]="['/profile']">
              <ion-icon slot="start" name="person"></ion-icon>
              <ion-label>
                Профиль
              </ion-label>
            </ion-item>
            <ion-item [routerDirection]="'root'" [routerLink]="['/setting']">
              <ion-icon slot="start" name="build"></ion-icon>
              <ion-label>
                Настройки
              </ion-label>
            </ion-item>
            <ion-item [routerDirection]="'root'" [routerLink]="['/login']" (click)="logout()">
              <ion-icon slot="start" name="arrow-back"></ion-icon>
              <ion-label>
                Выйти
              </ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet main></ion-router-outlet>
  </ion-split-pane>
</ion-app>
