// App Styles
// ----------------------------------------------------------------------------
// Put style rules here that you want to apply to the entire application. These 
// styles are for the entire app and not just one component. Additionally, this 
// file can hold Sass mixins, functions, and placeholder classes to be imported 
// and used throughout the application.


ion-item,
ion-menu-toggle,
ion-list {
  --ion-background-color: none;
}

ion-menu-toggle {
  //--ion-background-color: #dbfcfc;
}

ion-toolbar {
  height: auto;
}

.info {
  margin: 3% 0 3% 10%;
  display: flex;
  flex-direction: column;
}

#avatar,
#name {
  margin-bottom: 1%;
}

#name {
  font-size: 15px
}
#email {
  font-size: 12px
}

.ion-padding-left {
  padding-left: 3%;
}

i {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  margin-right: 1px;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}
