<ion-header>
  <ion-toolbar>
    <ion-title>Список доставок</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label>Best Grill</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Sushi 3303</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Ambar</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>McDonald's</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Rock-n-Roll</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
