<div class="main-login">
  <div class="login component-title">
    <ion-title class="text-white">Please enter your personal info</ion-title>
  </div>

  <form [formGroup]="form" (ngSubmit)="OnSubmit()">
    <div class="login component-name">
      <input type="text" placeholder="Enter login" class="new-height">
    </div>

    <div class="login component-email">
      <input type="text" placeholder="Enter your email" class="new-height">
    </div>

    <div class="login component-password">
      <input type="password" placeholder="Enter the password" class="new-height">
    </div>

    <div class="login component-password">
      <input type="password" placeholder="Re enter the password" class="new-height">
    </div>

    <div class="login component-remember">
      <input type="checkbox" class="regular-checkbox">
      <span>I accept the terms of the agreement</span>
    </div>

    <div class="login component-button">
      <ion-button expand="full" id="btn-my">Registration</ion-button>
    </div>
  </form>

</div>
